@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(to bottom ,hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  --color-Very-Light-Gray: hsl(0, 0%, 98%);
  --color-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --color-Light-Grayish-Blue: hsl(233, 11%, 84%);
  --color-Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --color-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  --color-Very-Dark-Blue: hsl(235, 21%, 11%);
  --color-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --color-Light-Grayish-Blue: hsl(234, 39%, 85%);
  --color-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --color-Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --color-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --color-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  --background-desktop-Dark-image: url('/images/bg-desktop-dark.jpg');
  --background-desktop-Light-image: url('/images/bg-desktop-light.jpg');
  --background-mobile-dark-image: url('/images/bg-mobile-light.jpg');
  --background-mobile-Light-image: url('/images/bg-mobile-light.jpg');

  --icon-check: url('/images/icon-check.svg');
}

:root {
  font-family: "Josefin Sans",system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* html {
  @apply bg-(--color-Very-Light-Gray) w-full h-screen;
} */

html.dark {
  @apply bg-(--color-Very-Dark-Blue) w-full h-screen transition-colors duration-300;
}

body{
  @apply mx-auto min-h-screen max-w-[90rem] bg-(image:--background-mobile-light-image) bg-no-repeat md:bg-(image:--background-desktop-Light-image) dark:bg-(image:--background-mobile-dark-image) dark:md:bg-(image:--background-desktop-Dark-image) ;
  font-family: "Josefin Sans", sans-serif;
  margin-inline: auto;
}

input[type="checkbox"]:checked {
  background: url("/images/icon-check.svg"), var(--Check-Background);
  background-repeat: no-repeat;
  background-position: center;
}


input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 50%;
}